<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
    <%- include('../partials/header'); %>
    </header>

    <main>
    <div class="jumbotron">
        <h1>Video chat built with nodejs and WebRTC.</h1>
        <scan>Go to video room -></scan>
        <a class="navbar-brand" href="/testing">Video chat</a>
    </div>
    </main>

    <footer>
    <%- include('../partials/footer'); %>
    </footer>

</body>
</html>